//- Email template adapted from https://github.com/leemunroe/responsive-html-email-template
//- Converted from HTML using https://html2pug.now.sh/

doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title= subject

        include _style

    body
        .email-container
            div.email-content
                block content

            .footer
                p SkyFlow Cinema © 2023. All rights reserved.
                p If you have any questions, feel free to contact us at