//- Email template adapted from https://github.com/leemunroe/responsive-html-email-template
//- Converted from HTML using https://html2pug.now.sh/

doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title= subject

        include _style

    body
        .email-container
            div.email-content
                block content
            .email-footer
                .signature
                    | Trân trọng,
                    br
                    strong Đội ngũ SkyFlow Cinema