extends baseEmail

block content
    p Xin chào #{firstName},
    p Bạn quên mật khẩu? Vui lòng gửi yêu cầu đặt lại với mật khẩu mới và xác nhận mật khẩu tại: #{url}.
    p (Trang web cho hành động này chưa được triển khai.)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody 
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Đặt lại mật khẩu
    p Nếu bạn không quên mật khẩu, vui lòng bỏ qua email này.