extends baseEmail

block content
    p.greeting Xin chào #{firstName},
    p.welcome-text Chào mừng bạn đến với SkyFlow

    .description-box
        p #{subject}

    p Bạn vừa yêu cầu mã xác thực (OTP) từ SkyFlow. Vui lòng sử dụng mã bên dưới để tiếp tục quá trình xác thực.

    .otp-section
        .otp-label OTP
        .otp-container
            .otp-code #{emailContent}

    .warning-section
        p
            strong Lưu ý:
            | Mã OTP này có hiệu lực trong vòng 10 phút. Vui lòng không chia sẻ mã này với bất kỳ ai vì lý do bảo mật.

    p Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email này hoặc liên hệ với bộ phận hỗ trợ khách hàng của chúng tôi.

